@using GCDC.Common.Helpers
@using GCDC.Common.Models.CMS;
@model GCDC.Common.Models.CMS.DownloadableResource;

@{
    var ViewName = ViewContext.ExecutingFilePath;

}

@if (Model != null)
{
    @using (new FunctionTracer(false, Model.Name))
    {
        try
        {

            <div id="" class="bg-wrapper2">


                <div class="bg-elements">

                    <div class="top-element">
                        <picture>
                            <source media="(min-width:600px)" srcset="/assets/img/bg-elements/element4.png">
                            <img src="/assets/img/bg-elements/element4-mbl.png" alt="ceo-message">
                        </picture>
                    </div>

                    <div class="bottom-element">
                        <img src="/assets/img/bg-elements/element6.png">
                    </div>

                </div>


            

            <section class="sec-media-gallery-grid" id="@Model.SectionNameForMenu.GetHtmlEncodedString()" @GCDC.Common.Helpers.Constants.cms_component_name="@Model.Name" @Constants.cms_page_view_name="@ViewName">
                <div class="sec-padded">
                    <div class="container">
                        <div class="wrapper-box">
                            <div class="media-gallery-box">
                                <h3 data-animation-type="fade-up" class="heading3">@Model.Heading</h3>

                                <div class="tab-content-wrapper level2">
                                    <div class="tab-content">
                                        <div class="filter-panel">
                                            <div class="media-listing gridWrapper list-view-listing">
                                                @if (Model.Children != null && Model.Children.Any())
                                                {
                                                    foreach (DownloadableResourceItem item in Model.Children)
                                                    {
                                                        <div class="listingWrapper element-item">
                                                            <div class="card_box grid-view-item js-grid-view-item">
                                                                <div class="content_box" style="width: 100%;">
                                                                    <div class="main-title">
                                                                        <div class="title">
                                                                            <h5 class="heading5 card_main_title">
                                                                                @item.Title
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="decription_wrapper">
                                                                        <div class="content__wrap">

                                                                            <div class="meta_wrapper">
                                                                                <div class="bottom_tagline">
                                                                                    <p class="body1 card_meta">
                                                                                        <span>@Common.GetDictionaryValueOrDefault("Updated Date Label")&nbsp;</span>
                                                                                        @item?.Date.ToString("MMMM d, yyyy")
                                                                                    </p>
                                                                                    @{
                                                                                        var fileDetail = Common.GetMediaPickerFileDetails(item.FileDownload);
                                                                                        var fileExtension = fileDetail.FileExtension;

                                                                                        <p class="body1 card_meta">
                                                                                            @($"{Common.GetFileSizeUnit(fileDetail.FileSize)}")
                                                                                        </p>
                                                                                    }

                                                                                </div>
                                                                                <div class="action_btn">

                                                                                    <div class="btn_wrap">
                                                                                        <a href="@item?.FileDownload?.GetMediaUrl()" download target="_blank" class="btn btn_Icon">
                                                                                            <p>@Common.GetDictionaryValueOrDefault("Download")</p>
                                                                                            <div class="download_iconBox">
                                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none" class="js-tosvg insvg">
                                                                                                    <path d="M14 10.5V13.1667C14 13.5203 13.8595 13.8594 13.6095 14.1095C13.3594 14.3595 13.0203 14.5 12.6667 14.5H3.33333C2.97971 14.5 2.64057 14.3595 2.39052 14.1095C2.14048 13.8594 2 13.5203 2 13.1667V10.5" stroke="#0D2640" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                                                    <path d="M4.66602 7.16675L7.99935 10.5001L11.3327 7.16675" stroke="#0D2640" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                                                    <path d="M8 10.5V2.5" stroke="#0D2640" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                                                </svg>
                                                                                            </div>
                                                                                        </a>

                                                                                    </div>


                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            </div>
        }
        catch
        {
            throw;
        }
    }
}