@using GCDC.Common.Helpers
@using GCDC.Common.Models.CMS
@model GCDC.Common.Models.CMS.ImageTextCard;

@{
    var ViewName = ViewContext.ExecutingFilePath;
    int totalCards = Model?.Children?.Count() ?? 0;

    bool isSustainabilityPage = ViewData["IsSustainabilityPage"] as bool? ?? false;

    // Set section name based on the flag
    var sectionName = isSustainabilityPage ? "sustainability" : "opportunity";

    // Determine version suffix (v2, v3, or empty)
    var versionSuffix = Model.VersionSelector switch
    {
        "Version 2" => "-v2",
        "Version 3" => "-v3",
        _ => "" // No suffix for other versions
    };
}

@if (Model != null)
{
    @using (new FunctionTracer(false, Model.Name))
    {
        try
        {
            <section id="@Model.SectionNameForMenu.GetHtmlEncodedString()" @GCDC.Common.Helpers.Constants.cms_component_name="@Model.Name" @Constants.cms_page_view_name="@ViewName" class="@(Model.IsDark ? "opportunity-sec-dark sec-work" : $"{sectionName}-sec{versionSuffix}")">
                <div class="sec-padded">
                    <div class="container">
                        <div class="sub-content-sec">
                            @if (Model.IsDark)
                            {
                                <h3 class="heading4 heading-title" data-animation-scroll="lineReveal">@Model?.Headline</h3>
                            }
                            else
                            {
                                <h4 class="heading4 heading-title">@Model?.Headline</h4>
                            }
                            <p class="body1 para">@Model?.Description</p>
                        </div>

                        <div class="@(Model.IsDark ? $"opportunity-slider-dark opportunity-slider-dark-{(Model.IsDarkTheme2 ? 2 : 1)}" : $"{sectionName}-slider{versionSuffix}")">
                             
                            @foreach (ImageTextCardItem item in Model.Children)
                            {
                                <div class="opportunity-card">
                                    <div class="bg-img">
                                        <picture>
                                            <source media="(min-width:600px)" srcset="@item?.CardImage.GetMediaUrl()" alt="@item?.Alt"/>
                                            <img class="card-img" src="@(item?.MobileImage.GetMediaUrl() ?? item?.CardImage.GetMediaUrl())" alt="@item?.Alt" />
                                        </picture>
                                    </div>
                                    <div class="text-sec">
                                        <h4 class="heading4 heading">@item?.Overline</h4>
                                        <p class="body1 para">@item?.Description</p>
                                    </div>
                                </div>
                            }
                        </div>


                        <div class="@(Model.IsDark ? $"custom-arrows custom-arrows-opportunity-dark-{(Model.IsDarkTheme2 ? 2 : 1)} dark" : $"custom-arrows-{sectionName}{versionSuffix}")">
                                <span class="@(Model.IsDark ? "slide-info" : "slide-count") heading5">
                                <span class="@(Model.IsDark ? $"current-slide current-slide-opportunity-dark-{(Model.IsDarkTheme2 ? 2 : 1)}" : $"current-slide-{sectionName}{versionSuffix}") heading5"></span>
                                    <span class="sep-slide heading5"> / </span>
                                <span class="@(Model.IsDark ? $"total-slides total-slides-opportunity-dark-{(Model.IsDarkTheme2 ? 2 : 1)}" : $"total-slides-{sectionName}{versionSuffix}") heading5"></span>
                                </span>
                                <div class="arrows-wrapper">
                                <button class="@(Model.IsDark ? $"custom-prev custom-prev-opportunity-dark-{(Model.IsDarkTheme2 ? 2 : 1)}" : $"custom-prev-{sectionName}{versionSuffix}")">
                                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.9173 16.846C8.75444 16.846 8.59159 16.786 8.46302 16.6575L3.26016 11.4546C3.01159 11.206 3.01159 10.7946 3.26016 10.546L8.46302 5.34317C8.71159 5.0946 9.12302 5.0946 9.37159 5.34317C9.62016 5.59174 9.62016 6.00317 9.37159 6.25174L4.62302 11.0003L9.37159 15.7489C9.62016 15.9975 9.62016 16.4089 9.37159 16.6575C9.25159 16.786 9.08016 16.846 8.9173 16.846Z"
                                                  fill="#292D32" />
                                            <path d="M18.2859 11.6431H3.86014C3.50871 11.6431 3.21729 11.3517 3.21729 11.0003C3.21729 10.6489 3.50871 10.3574 3.86014 10.3574H18.2859C18.6373 10.3574 18.9287 10.6489 18.9287 11.0003C18.9287 11.3517 18.6373 11.6431 18.2859 11.6431Z"
                                                  fill="#292D32" />
                                        </svg>
                                    </button>
                                <button class="@(Model.IsDark ? $"custom-next custom-next-opportunity-dark-{(Model.IsDarkTheme2 ? 2 : 1)}" : $"custom-next-{sectionName}{versionSuffix}")">
                                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.0829 16.846C12.92 16.846 12.7571 16.786 12.6286 16.6575C12.38 16.4089 12.38 15.9975 12.6286 15.7489L17.3771 11.0003L12.6286 6.25174C12.38 6.00317 12.38 5.59174 12.6286 5.34317C12.8771 5.0946 13.2886 5.0946 13.5371 5.34317L18.74 10.546C18.9886 10.7946 18.9886 11.206 18.74 11.4546L13.5371 16.6575C13.4086 16.786 13.2457 16.846 13.0829 16.846Z"
                                                  fill="#292D32" />
                                            <path d="M18.1401 11.6431H3.71439C3.36296 11.6431 3.07153 11.3517 3.07153 11.0003C3.07153 10.6489 3.36296 10.3574 3.71439 10.3574H18.1401C18.4915 10.3574 18.783 10.6489 18.783 11.0003C18.783 11.3517 18.4915 11.6431 18.1401 11.6431Z"
                                                  fill="#292D32" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </section>
        }
        catch
        {
            throw;
        }
    }
}
