@using GCDC.Common.Helpers
@model GCDC.Common.Models.CMS.InnerBanner

@{
    var ViewName = ViewContext.ExecutingFilePath;
}

@if (Model != null)
{
    @using (new FunctionTracer(false, Model.Name))
    {
        try
        {
            <section id="@Model.SectionNameForMenu.GetHtmlEncodedString()" class="inner-banner-wrapper @Model.PageSpecificClasses" @GCDC.Common.Helpers.Constants.cms_component_name="@Model.Name" @Constants.cms_page_view_name="@ViewName">
                <div class="img--wrapper">
                    <img src="@Model?.Image?.GetMediaUrl()" />
                </div>
                <div class="section" id="section1">
                    <div class="container">
                        <div class="text-container opacity-zero" data-animation-scroll="lineReveal" data-blur="">
                            <h2 class="heading2">@Model?.Heading</h2>
                        </div>
                        <p class="description-moblie body1 opacity-zero" data-blur="" data-animation-scroll="lineReveal">
                            @Model?.Paragraph
                        </p>
                        <div class="bottom-wrapper">
                            <div class="horizontal-line" data-animation-scroll="horizontalLine" data-initial-width="20">
                                <span>
                                    <img class="js-tosvg diamond-icon-horizontal icon-1" src="/assets/img/icon/diamondIcon.svg"
                                         alt="" />
                                </span>
                                <span>
                                    <img class="js-tosvg diamond-icon-horizontal icon-2" src="/assets/img/icon/diamondIcon.svg"
                                         alt="" />
                                </span>
                                <span>
                                    <img class="js-tosvg diamond-icon-horizontal icon-3" src="/assets/img/icon/diamondIcon.svg"
                                         alt="" />
                                </span>
                            </div>
                            <div class="inner-banner-vertical-line">
                                <span>
                                    <img class="js-tosvg diamond-icon-vertical icon-1" src="/assets/img/icon/diamondIcon.svg"
                                         alt="" />
                                </span>
                                <span>
                                    <img class="js-tosvg diamond-icon-vertical icon-2" src="/assets/img/icon/diamondIcon.svg"
                                         alt="" />
                                </span>
                                <span>
                                    <img class="js-tosvg diamond-icon-vertical icon-3" src="/assets/img/icon/diamondIcon.svg"
                                         alt="" />
                                </span>
                            </div>

                            <div class="bottom-content">
                                <p class="description body1 opacity-zero" data-animation-scroll="lineReveal" data-blur="">
                                    @Model?.Paragraph
                                </p>
                            </div>
                        </div>
                    </div>
                    @if (Model.DesktopPattern != null)
                    {
                        <div class="section-pattern">

                            <picture>

                                <source media="(min-width:767px)" srcset="@Model.DesktopPattern.GetMediaUrl()" alt="">

                                @if (Model.MobilePattern != null)
                                {
                                    <img src="@Model.MobilePattern.GetMediaUrl()" alt="">
                                }
                                else
                                {
                                    <img src="@Model.DesktopPattern.GetMediaUrl()" alt="">
                                }
                            </picture>
                        </div>
                    }
                </div>
            </section>
        }
        catch
        {
            throw;
        }
    }
}
